#header{
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}
#whole-structure{
    align-items: center;
    display: flex; /* needs to be added to justify content on center*/
    justify-content: center;
}

#div-buttons{
    display: flex; /* needs to be added to justify content on center*/
    justify-content: center;
}

#container{
    padding-bottom: 10px;
    padding-left: 10px;
}

#container2{
    display: inline-block;
    position: absolute;
}

#main{
    width: 200px;
    height: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top; /*This is very important */
}

#main2{
    width: 200px;
    height: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top; /*This is very important */
}


#main3{
    width: 200px;
    height: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top; /*This is very important */ 
}