{% extends 'main.html' %}

{% block content %}
    <h1>
        {{user.username}}
    </h1>

    <style>
        .profile-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr
        }
    </style>

    <div class="profile-container">
        <di>
            {% include 'base/topics_components.html' %}           
        </di>
        <di>
            {% include 'base/feed_component.html' %}
        </di>
        <di>
            {% include 'base/activity_component.html' %}
        </di>
    </div>
{% endblock content %}